*, *::before, *::after, html, body{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.tp-navbar{
	position: absolute;
	width: 100%;
	display: flex;
	place-content:space-between;
}

.tp-navbar-btn-container{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 200px;	
}
.tp-navbar-btn{
	display: flex;
    align-items: center;
    margin-right: 25px;
}
.logo {
	width: 50%;
}
.logo img{
	width: 500px;
}
/* ---  #1 ---*/
.lang{
	font-size: 26px;
	color: #399728;
}

/* ---  #2 ---*/
.round2outer{
	background-color: #399728;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round2inner{
	background-color: #399728;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}
.round2inner span{
	font-weight: bold;
	color: #fff;
	font-size: 22px;
}

/* ---  #3 ---*/
.round3outer{
	background-color: #399728;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round3inner{
	background-color: #399728;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}
.round3inner span{
	font-weight: bold;
	color: #fff;
	font-size: 2.5rem;
}

/* ---  #4 ---*/
.round4outer{
	background-color: #399728;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round4inner{
	background-color: #399728;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}
.round4inner span{
	font-weight: bold;
	color: #fff;
	font-size: 3rem;
}

/* ---  #4 ---*/
.round5outer{
	background-color: #399728;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round5inner{
	background-color: #399728;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}

.round5inner span{
	font-weight: bold;
	color: #fff;
	font-size: 3rem;
}

/* --- cart ---*/
.cart-img{
	position: relative;
	display: block;
	width: 100%;
}

.cart-img img{
	width: 110px;
	display: block;
}

#cartValue{
	position: absolute;
    top: 16%;
    right: 16px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

/* --- arrow ---*/
.arrow-righ{
	width: 100px;
	height: 20px;
}

