*, *::before, *::after, html, body{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.header{
	height: 44vh;
}
.tp-navbar{
	position: absolute;
	width: 100%;
	display: flex;
	place-content:space-between;
}

.tp-navbar-btn-container{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 200px;	
}
.tp-navbar-btn{
	display: flex;
    align-items: center;
    margin-right: 25px;
}
.logo {
	width: 50%;
}
.logo img{
	width: 500px;
}
/* ---  #1 ---*/
.lang{
	font-size: 26px;
	color: #399728;
}

/* ---  #2 ---*/
.round2outer{
	background-color: #399728;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round2inner{
	background-color: #399728;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}
.round2inner span{
	font-weight: bold;
	color: #fff;
	font-size: 22px;
}

/* ---  #3 ---*/
.round3outer{
	background-color: #399728;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round3inner{
	background-color: #399728;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}
.round3inner span{
	font-weight: bold;
	color: #fff;
	font-size: 2.5rem;
}

/* ---  #4 ---*/
.round4outer{
	background-color: #399728;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round4inner{
	background-color: #399728;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}
.round4inner span{
	font-weight: bold;
	color: #fff;
	font-size: 3rem;
}

/* ---  #4 ---*/
.round5outer{
	background-color: #399728;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.round5inner{
	background-color: #399728;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}

.round5inner span{
	font-weight: bold;
	color: #fff;
	font-size: 3rem;
}

/* --- styles ---*/


.cart-img{
	position: relative;
	display: block;
	width: 100%;
}

.cart-img img{
	width: 110px;
	display: block;
}

#cartValue{
	position: absolute;
    top: 16%;
    right: 16px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.arrow-righ{
	width: 100px;
	height: 20px;
}

/*-----  download	-------*/
.info-download{
	height: 40px;
    width: 100%;
    text-align: center;
   
}
.info-download a{
	margin-left: 16%;
}
.info-download img{
	height: 100%;
}
.info-download span{
	font-size: 30px;
	color: #f3b842;
	margin-right: 5px;
}
.info-download a{
	height: 100%;
	display: inline-block;
}



/* product section*/
.product-frozen{
	height: 100vh;
	width: 90%;
	margin: auto;
}

.product-link{
	width: 100%;
	margin:auto;
	text-align: center;
}
.product-link .ln{
	color: white;
	border-radius: 50%;
	background-color:#267d16;
	border: 2px solid orange;
	display: inline-block;
	padding-top: 5px;
	margin:0 8px;
	
}
.ln1{
	width: 100px;
	height: 100px;
	font-size: 31px;
	line-height: 1;
}
.ln2{
	font-size: 45px;
	width: 120px;
	height: 120px;
	line-height: 1;	
}
.ln3{
	font-size: 31px;
	width: 100px;
	height: 100px;
	line-height: 1;	
}


/*----------checken-btn---------*/
.checken-btns{
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.checken-btns span{
	display: flex;
	flex-direction: column;
}
.checken-btns img{
	display: inline-block;
	margin:0 10px;
	
}
.frozen-700{
	width: 100px;
}
.frozen-800{
	width: 130px;
}
.frozen-900{
	width: 150px;
}
.frozen-1000{
	width: 180px;
}
.frozen-1300{
	width: 150px;
}
.frozen-1200{
	width: 130px;
}
.frozen-1100{
	width: 100px;
}
.frozen-title-700{
	color: #904523;
	font-size: 25px;
}
.frozen-title-800{
	color: #1c367f;
	font-size: 25px;
}
.frozen-title-900{
	color: #47596b;
	font-size: 25px;
}
.frozen-title-1000{
	color: #067f3c;
	font-size: 25px;
}
.frozen-title-1300{
	color: #cd1f1b;
	font-size: 25px;
}
.frozen-title-1200{
	color: #67307e;
	font-size: 25px;
}
.frozen-title-1100{
	color: #861865;
	font-size: 25px;
}

/*----------divider---------*/
.orange-divider{
	display: block;
	background-color:#f3b842;
	width: 100%;
	height: 5px;
}
/*----------parts imgs---------*/
.parts{
	height: 100vh;
}
.parts-imgs img{
	width: 200px;
}

/*----------artificial imgs---------*/
.artificial{
	height: 100vh;
}

.artificial-imgs img{
	width: 200px;
	margin-top: 7%;
}

/*----------footer---------*/	
.footer{
	text-align: center;
	background-color: #13a54c;
	width: 100%;
	height: 22vh;
}

.footer img{
	border-radius: 50%;
	width: 180px;
	margin-top: -130px;
}

.social img{
	margin: 10px 5px;
	width: 30px;
}

.copyright{
	color: white;
	font-weight: bold;
}
